doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
  link(rel="stylesheet", href="css/style.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="js/gShake.js")
  script(src="js/script.js")
  title KIX MIX
body
  #wrapper(data-color="#ffffff")
    p#point
    a#voiceTest
      Voice
    #debug
      #data1.data
        |gamma :
        span.num
      #data2.data
        |beta :
        span.num
      #data3.data
        |alpha :
        span.num
      #data4.data
        |zg :
        span.num
      #data5.data
        |yg :
        span.num
      #data6.data
        |xg :
        span.num
      #data7.data
        |z :
        span.num
      #data8.data
        |y :
        span.num
      #data9.data
        |x :
        span.num
      #data10.data
        |Shake Count :
        span.num
      #data11.data
        |#wrapper data :
        span.color
      #data12.data
        |flash point :
        span.flash
